<% layout('layout/page.ejs') %>


<div id="index">
    <p id="wel">WELCOME</p>
    <br>
    <p> Количесвто переходов или обновлений: <%= counter %>.</p>
    <br>
<% if(user) {%>
    <p>Здравствуйте <%= user.username%>! Вам доступны все вкладки.</p>
<% }else{ %>
    <p>Чтобы продолжить просмотр вам необходимо зарегистрироваться.</p>
<% } %>
    
</div >

   