<% layout('layout/page.ejs') %>

<div class="menu">
    <a href="">Price Tag</a>
    <a href="">Tablet</a>
    <a href="">Menuholder</a>
    <a href="">Napkin Holder</a>
</div>

<h1><%= title %></h1>

<img src="<%= picture %>" alt=""/>

<h4>Несколько слов о товаре: <%=desc%></h4>