*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
    padding: 0;
    color: #212529}


.header img{
    margin: 10px 0;
    margin-left: 150px;
    height: 10vh;
}
.header{
    height: 12vh;
}

#container a, #in_out a, #in_out button{
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 50px;
    font-size: 1.2rem;
    color: #c5c5c5;
}
#container a:hover, #in_out a:hover, #in_out button:hover{
    margin-right: 50px;
    font-size: 1.2rem;
    color: white;
}
#container{
    margin-left: 150px;
}

#product_table img{
    height: 550px;
}

#inf_product{
    padding: 20px;
}

#inf_product h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    color: #31363b;
}
#product_table{
    height: 60vh;
    display: flex;
    margin: 0 150px;
}

#index{
    display: flex;
    color: #e1e1e1;
    margin-top: 7vh;
    background-image: url(/images/fon.jpg); 
    padding: 40px; 
    width: 100%;
    height: 65vh;
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index #wel{
    letter-spacing: 15px;
    font-size: 6vh;
}
#index p{
    letter-spacing: 5px;
    font-size: 2.5vh;
    color: white;
    text-align: center;
}

#reg_table{
    height: 81vh;
    display: flex;
    margin: 0 150px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#error_table {
    height: 81vh;
    display: flex;
    margin: 0 150px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

