* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
    padding: 0;
    color: #212529}


.header img{
    margin: 10px 0;
    margin-left: 150px;
    height: 10vh;
}
.header{
    height: 12vh;
}

#container a{
    margin-right: 50px;
    font-size: 1.2rem;
    color: #c5c5c5;
}
#container a:hover{
    margin-right: 50px;
    font-size: 1.2rem;
    color: white;
}
#container{
    margin-left: 150px;
}

#product_table img{
    height: 550px;
    border: 1px solid black;
}

#inf_product{
    padding: 20px;
}

#inf_product h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    color: #31363b;
}
#product_table{
    height: 60vh;
    display: flex;
    margin: 0 150px;
}